<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#map {
	height:100%;
	width:100%;
	position:relative;
	}

</style>

<body>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

<!-- Header -->
<header class="w3-panel w3-center w3-opacity" style="padding:128px 16px">
  <h1 class="w3-xlarge">ENHANCED DATA</h1>
  <h1>PI #{{pi_id}}</h1>

  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>

</header>

<table>
  <tr>
    <th>Data</th>
    <th>Current</th>
    <th>24 hr high</th>
    <th>24 hr low</th>
    <th>24 hr Avg</th>
    <th>Month Avg</th>
    <th>Year Avg</th>
  </tr>
  <tr>
    <td>Temp</td>
    <td>{{now.temperature}}°C</td>
    <td>{{dayHigh.temperature__max}}°C</td>
    <td>{{dayLow.temperature__min}}°C</td>
    <td>{{dayAvg.temperature__avg}}°C</td>
    <td>Unkown</td>
    <td>Unkown</td>
  </tr>
  <tr>
    <td>Humidity</td>
    <td>{{now.humidity}}%</td>
    <td>{{dayHigh.humidity__max}}%</td>
    <td>{{dayLow.humidity__min}}%</td>
    <td>{{dayAvg.humidity__avg}}%</td>
    <td>Unkown</td>
    <td>Unkown</td>
  </tr>
  <tr>
    <td>Air Pressure</td>
    <td>{{now.pressure}} kpa</td>
    <td>{{dayHigh.pressure__max}} kpa</td>
    <td>{{dayLow.pressure__min}} kpa</td>
    <td>{{dayAvg.pressure__avg}} kpa</td>
    <td>Unkown</td>
    <td>Unkown</td>
  </tr>
  <tr>
    <td>Wind Speed</td>
    <td>{{now.wind_speed}}</td>
    <td>{{dayHigh.wind_speed__max}}</td>
    <td>{{dayLow.wind_speed__min}}</td>
    <td>{{dayAvg.wind_speed__avg}}</td>
    <td>Unkown</td>
    <td>Unkown</td>
  </tr>
</table>

</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-large">
</footer>

</body>
</html>
